    /* Basic styling for the autocomplete container */
    .autocomplete-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 4px;
  }

  .autocomplete-input {
    flex: 1;
    border: none;
    outline: none;
    min-width: 150px;

}

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    background: #fff;
    max-height: 150px;
    overflow-y: auto;

}

.autocomplete-list div {
    padding: 8px;
    cursor: pointer;
}

.multiselect-tag {

    background: #007bff;

    color: #fff;

    padding: 5px;

    border-radius: 3px;

    margin: 3px;

    display: flex;

    align-items: center;

}

.multiselect-tag span {

    margin-left: 5px;

    cursor: pointer;

}
  /* Style the autocomplete items */
  .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /* Position the autocomplete items to be below the input */
      top: 100%;
      left: 0;
      right: 0;
  }

  .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
  }

  /* When hovering an item */
  .autocomplete-items div:hover {
      background-color: #e9e9e9;
  }

  /* When selected an item */
  .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
  }

  /* Multiselect tags */
  .multiselect-tags {
    padding: 0;
    width: max-content;
    padding: 0 1rem 0 0;
}

  .multiselect-tag {
    background-color: #007bff;
    color: #fff;
    padding: 1px 3px;
    /* border-radius: 15px; */
    margin: 2px;
    display: inline-block;
}

.multiselect-tag span {
    margin-left: 8px;
    cursor: pointer;
}

form#kycs_settings_form input#classlist-input, input#username-input, input#password-input {
    width: 100%;
}
.modal-header, .modal-content, .modal-body, .modal-footer{
    background: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px 0;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-img-top {
    width: 100%;
    height: auto;
}
.btn-container {
    margin-top: auto;
    text-align: center;
}


/* flex */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 17.75rem;
    min-height: 15rem;
    margin: 0.625rem;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container > div:hover,
.flex-container > div:focus {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 14px 1px;
    transform: translateY(-4px);
}
.report-image {
    max-width: 100%; /* Ensures the image scales down with the container */
    height: auto; /* Maintains aspect ratio */
}
.reports-button {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
select#semester-select {
    margin-bottom: 1rem;
}