body {
    color: #202122;
    display: block;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .01rem;
    line-height: 1.4rem;
    padding-top: 0 !important;
}
/* Basic styling for the autocomplete container */
 .autocomplete-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 4px;
  }

  .autocomplete-input {
    flex: 1;
    border: none;
    outline: none;
    min-width: 150px;

}

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    background: #fff;
    max-height: 150px;
    overflow-y: auto;

}

.autocomplete-list div {
    padding: 8px;
    cursor: pointer;
}

.multiselect-tag {

    background: #007bff;

    color: #fff;

    padding: 5px;

    border-radius: 3px;

    margin: 3px;

    display: flex;
    align-items: center;

}

.multiselect-tag span {

    margin-left: 5px;

    cursor: pointer;

}
  /* Style the autocomplete items */
  .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /* Position the autocomplete items to be below the input */
      top: 100%;
      left: 0;
      right: 0;
  }

  .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
  }

  /* When hovering an item */
  .autocomplete-items div:hover {
      background-color: #e9e9e9;
  }

  /* When selected an item */
  .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
  }

  /* Multiselect tags */
  .multiselect-tags {
    padding: 0;
    width: max-content;
    padding: 0 1rem 0 0;
}

  .multiselect-tag {
    background-color: #007bff;
    color: #fff;
    padding: 1px 3px;
    /* border-radius: 15px; */
    margin: 2px;
    display: inline-block;
}

.multiselect-tag span {
    margin-left: 8px;
    cursor: pointer;
}

form#kycs_settings_form input#classlist-input, input#username-input, input#password-input {
    width: 100%;
}
.modal-header, .modal-content, .modal-body, .modal-footer{
    background: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px 0;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-img-top {
    width: 100%;
    height: auto;
}
.btn-container {
    margin-top: auto;
    text-align: center;
}

/* modal */
#kycsReportsModal .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; /* No padding */
}
#kycsReportsModal .modal-header > div {
    flex: 1;
    display: flex;
    align-items: center;
}
#kycsReportsModal .modal-header h5 {
    margin: 0;
    flex: 1;
    padding: 1rem;
}
#kycsReportsModal .modal-header select {
    flex: 1;
    margin-left: 15px;
}
#kycsReportsModal .modal-header .close {
    margin-left: auto;
    padding: 1rem; /* Adjust padding for better clickability */
}
/* flex */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container > a {
    background-color: #f1f1f1;
    width: 17.75rem;
    min-height: 12rem;
    margin: 0.625rem;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container > a:hover,
.flex-container > a:focus {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 14px 1px;
    transform: translateY(-4px);
}
.report-image {
    max-width: 85%;
    height: auto;
}
.reports-button {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

/* accordion */
.css_accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .css_accordioncontent {
    height: 0;
    overflow: hidden;
    transition: all 0.35s;
  }
  .css_accordion input:checked ~ .css_accordioncontent {
    /* max-height: 10rem; */
    height: auto;
    border-bottom: 1px solid #ccc;
  }

  /* results table styles */
  button.btn.btn-primary.btn-chevron {
    background: none;
    border: none;
    color: #000;
    font-size: 1rem;
    font-weight: 100;
}
.btn-chevron::before {
    content: '▲'; /* Downward arrow */
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}
.btn-chevron.collapsed::before {
    content: '▼'; /* Upward arrow */
}
/* selectpicker styles */
.bootstrap-select button.btn.dropdown-toggle.btn-default {
    line-height: 1rem;
    font-weight: 100;
}

h1.course-reports-heading {
    float: left;
    margin-top: 0;
    font-weight: 400;
}
.title.col-md-6 {
    padding-left: 0;
}
.dass-logo {
    width: 10rem;
}

.email-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
}
.selectproviders {
    margin: 1rem 0;
}
.form-control {
    flex: 1;
    margin-right: 10px;
}

.email-tag {
    display: flex;
    align-items: center;
    background-color: #006fbf;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 2px;
    font-size: 12px;
    color: #fff;
}

.remove-email {
    margin-left: 6px;
    cursor: pointer;
    color: #ffffff;
}
.hidden {
    display: none;
}
input[type=checkbox], input[type=radio] {
    margin: 0.2rem;
}

.reports-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: none !important;
    color: #000 !important;
    font-size: 1rem;
    margin-top: 10px;
}

.reports-button .icon {
    margin-right: 5px;
    transition: transform 0.3s;
}

.reports-button.collapsed .icon {
    transform: rotate(0deg);
}

.reports-button .icon {
    transform: rotate(0deg);
}

input#email-input[disabled] {
    background: transparent;
    border: none;
    box-shadow: none;
}

.no-providers {
    margin: 1.2rem 0;
}
.courses-form-check {
    margin-top: 1rem;
}
.form-check a,
.no-providers a,
p.available-reports a {
    color: #006fbf !important;
}

.form-check a:hover,
.no-providers a:hover
p .available-reports a:hover {
    text-decoration: underline;
}