{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">
    $(document).ready(function() {
        // Populate multiselect options
        let responseData = {{ $allrecepients }};

        $("input#kycsReports[type='radio']").each(function() {
            var radioId = $(this).attr('id');
            var targetDiv = $('div#' + radioId);
            $("div#kycsReports").show()
            $(this).prop('checked', true);
            targetDiv.removeClass('hidden').addClass('visible');
        });

        // get providers, on radio click display providers
        let coursesData = {{ $course_providers_data }};
        console.log(coursesData)

        let $selectPickerElement = $('#providers');

        total_providers = 0;
        if (Array.isArray(coursesData.data)) {
            const seen = new Set();  // To track unique items
            let total_providers = 0;

            coursesData.data.forEach(item => {
                const uniqueKey = `${item.provider}-${item.term}`; // Create a unique key

                if (!seen.has(uniqueKey)) { // Check if this combination has been added already
                    seen.add(uniqueKey); // Mark this combination as seen

                    // Create the checkbox input element
                    let $checkbox = $('<input type="checkbox" name="providers[]">')
                        .val(item.provider)
                        .attr('data-created-at', item.created_at)
                        .prop('checked', true);

                    // Create a label element associated with the checkbox
                    let $label = $('<div class="form-check"><label class="form-check-label"></label></div>')
                        .text(item.provider + ' ' + item.term)
                        .prepend($checkbox); // Place the checkbox before the label text

                    // Append the label (which includes the checkbox) to the select picker element
                    $selectPickerElement.append($label);
                    total_providers++;
                }
            });

            if (total_providers === 1) {
                $selectPickerElement.find('input[type="checkbox"]').prop('checked', true).attr('disabled', true);

             }
        }

        // Form submission
        $('#kycs_generate_form').on('submit', function(event) {
            event.preventDefault();

            // Disable the submit button
            $('#btn-send-email').prop('disabled', true);

            var requesterData = $('#kycs_generate_form input[name="email_to"]').val();
            var requesterId = $('#kycs_generate_form input[name="requester_id"]').val();
            var siteIdValue = $('#kycs_generate_form input[name="site_id"]').val();
            var bo_id = $('#kycs_generate_form input[name="doc_id"]').val();
            var firstname = $('#kycs_generate_form input[name="requester_fistname"]').val();
            var lastname = $('#kycs_generate_form input[name="requester_lastname"]').val();
            var year = $('#kycs_generate_form input[name="term"]').val();

            var requesterArray = JSON.parse(requesterData);

            var selectedProviders = [];
            $('input[name="providers[]"]:checked').each(function() {
                selectedProviders.push($(this).val());
            });

            var selectedData = {
                'to': requesterArray,
                'requester_id': requesterId,
                'site_id': siteIdValue,
                'bo_id': bo_id,
                'firstname': firstname,
                'lastname': lastname,
                'report_type': 'Know your Course and Students',
                'year' : year,
                'providers': selectedProviders
            };

            $.ajax({
                url: '{{$kycsformurl}}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedData),
                success: function(response) {
                    var success = response.success;
                    var data = response.data;

                    // Set a timeout to refresh the page after 3 seconds
                    setTimeout(function() {
                        location.reload();
                    }, 5000);

                },
                error: function(xhr, status, error) {
                    var errorAlert = '<div class="alert alert-danger alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span></button>' +
                        'An error occurred: ' + error +
                        '</div>';
                }
            });

        });

        // Accordion handling
        $('#accordionExample .collapse').on('show.bs.collapse', function() {
            $(this).prev('.card-header').find('.accordion-button').removeClass('collapsed');
        }).on('hide.bs.collapse', function() {
            $(this).prev('.card-header').find('.accordion-button').addClass('collapsed');
        });

        // Email cleanup
        document.querySelectorAll('td.emails').forEach(function(td) {
            var jsonString = td.textContent.trim();
            try {
                var data = JSON.parse(jsonString);
                var emailResults = data.map(function(item) {
                    return item.email;
                });
                td.textContent = emailResults.join(', ');
            } catch (e) {
                console.error('Error processing JSON:', e);
                td.textContent = 'Error parsing data';
            }
        });

        // disable submit bn if empty
        function checkConditions() {
            const anyCheckboxChecked = $('#providers input[type="checkbox"]:checked').length > 0;

            if (anyCheckboxChecked) {
                $('#btn-send-email').prop('disabled', false);
            } else {
                $('#btn-send-email').prop('disabled', true);
            }
        }

        // refresh if there are running jobs, every 30 seconds
        let running_jobs = {{ $running_reports_data}};
        console.log(running_jobs)
        if (running_jobs.length > 0) {
            setInterval(function() {
                console.log('refreshing')
                location.reload();
            }, 30000);
        }

        // Refresh the page when the button is pressed
        $('#refreshTableBtn').on('click', function() {
            location.reload();
        });
        // Check conditions on document ready
        checkConditions();

        // Check conditions when checkboxes are clicked
        $('#providers input[type="checkbox"]').on('change', checkConditions);

        // Check conditions when email tags are added/removed
        const emailTagsObserver = new MutationObserver(checkConditions);

        // Handling retry for failed email
    $('a#retry_bo_job').on('click', function(event) {
        event.preventDefault();

        const hiddenValue = $(this).closest('tr').find('td.hidden.id').text().trim();
        const statusValue = $(this).closest('tr').find('td.status');

        // set this to submitting quickly
        statusValue.text('Submitting');

        // console.log('Retry ID:', hiddenValue);

        $.ajax({
            url: '{{$kycsformurl}}',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ action: 'retry', id: hiddenValue }),
            success: function(response) {
                console.log('Retry response:', response);

                if (response.success) {
                    // maybe reload the table to show updated status
                    setTimeout(() => location.reload(), 2000);
                } else {
                    alert('Failed to retry: ' + response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error retrying job:', error);
            }
        });
    });

    });

</script>
