<div class="container">
{% if ($course_providers) { %}
{% if ($running_reports) { %}
<p>One or more reports are being generated. This may take from several minutes to several hours depending on server load.</p>
{% } else { %}
<p>The following DASS course report(s) are available:</p>
{% } %}

{% foreach($reports as $rep): %}
{% if (!$running_reports) { %}
<form id="kycs_generate_form" method="POST">
    <div class="form-check">
        <label class="form-check-label"></label>
            <input type="radio" class="form-check-input" id="{% print($rep['target']) %}" name="{% print($rep['target']) %}" value="{% print($rep['target']) %}"
            {% if ($rep["active"] != 'TRUE') { %} disabled {% } %}><a href="{% print($rep['link']) %}" target="_blank">{% print($rep['title']) %}</a>
        </label>
    </div>
    {% } %}
{% endforeach; %}
{% } else { %}
<div class="no-providers">
    There are no course codes associated directly with this
        Amathuba site. To request a Know your Course and Students report for a specific course,
        please access this via the Amathuba site for the course, or <a href="https://dass.uct.ac.za/submit-data-query" target="_blank">submit a data query</a>.</p></div>

{% } %}
<!-- kycs form stuffs -->

<div id="alert-container"></div>
<div  class="{% if (!$running_reports) { %}hidden {% } %}" id="kycsReports">

    {% if ($running_reports) { %}
    <table class="table table-bordered table-rounded">
        <tr>
            <td class="hidden">Course</td>
            <td>Course</td>
            <td>Report</td>
            <td>Recipient</td>
            <td>Status</td>
            <td>Requested</td>
        </tr>
    {% foreach($running_reports as $run): %}
    <tr>
        <td class="hidden">{% print($run['id'])%}</td>
        <td>{% print($run['provider_id'])%} {% print($run['term'])%}</td>
        <td>{% print($run['report_type'])%} </td>
        <td class="emails">{% print($run['data']) %}</td>
        <td>{% print($run['state']) %}</td>
        <td>{% print($run['created_at']) %}</td>
    </tr>
        {% endforeach; %}
    </table>
    <button id="refreshTableBtn" class="btn btn-primary">Refresh Table</button>
    {% } else { %}
        <div class="courses-form-check">
            <p>for the following course(s)
            <div id="providers"> </div>
            <div id="selected-emails" class="mt-3"></div>
        </div>
        <input type="hidden" name="email_to" id="email_to" value='[{"email": "{{$requester_email}}", "firstname": "{{$requester_firstname}}", "lastname": "{{$requester_lastname}}"}]'>
        <input type="hidden" name="site_id" id="site_id" value="{{$siteid}}">
        <input type="hidden" name="term" id="term" value="{{$year}}">
        <input type="hidden" name="requester_id" id="requester_id" value="{{$requesterid}}">
        <input type="hidden" name="requester_fistname" id="requester_fistname" value="{{$requester_firstname}}">
        <input type="hidden" name="requester_lastname" id="requester_lastname" value="{{$requester_lastname}}">
        <input type="hidden" name="doc_id" id="doc_id" value="{{$bo_id}}">
        <div id="email-container" class="email-container">
            The report(s) will be emailed to: {{$requester_email}}
        </div>
        <button type="submit" class="btn btn-success mt-5" id="btn-send-email" name="btn-send-email">Email Report</button>
    {% } %}
</form>

</div>
</div>
